version: '3'

services: 
  core:
    build: ./server
    image: core:latest
    volumes: 
      - sql_scripts:/server/sql-files

  database:
    image: mysql:latest
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    volumes: 
      - sql_scripts:/docker-entrypoint-initdb.d
      - server_db:/var/lib/mysql
      - ./database/my.cnf:/etc/my.cnf
    environment: 
      MYSQL_DATABASE: ragnarok
      MYSQL_USER: ragnarok
      MYSQL_PASSWORD: ragnarok
      MYSQL_ROOT_PASSWORD: secret
    ports:
      - 3306:3306

  graphql:
    image: bryanveloso/enyxsis-graphql-server:latest
    restart: always
    environment: 
      DB_HOST: database
    depends_on:
      - database
    ports:
      - 4000:4000

  char:
    image: core
    restart: always
    command: ./wait.sh database:3306 -t 0 -- "./char-server"
    depends_on: 
      - core
      - database
    ports:
      - 6121:6121

  login:
    image: core
    restart: always
    command: ./wait.sh database:3306 -t 0 -- "./login-server"
    depends_on: 
      - core
      - database
    ports:
      - 6900:6900

  map:
    image: core
    restart: always
    command: ./wait.sh database:3306 -t 0 -- "./map-server"
    depends_on: 
      - core
      - database
    ports:
      - 5121:5121
          
  status:
    build: ./status
    image: status:latest
    environment: 
      CHAR_IP: char
      CHAR_PORT: 6121
      LOGIN_IP: login
      LOGIN_PORT: 6900
      MAP_IP: map
      MAP_PORT: 5121
      PORT: 3000
    ports:
      - 3000:3000

  flux:
    image: richarvey/nginx-php-fpm:latest
    restart: always
    environment:
      GIT_EMAIL: bryan@avalonstar.com
      GIT_NAME: Bryan Veloso
      GIT_REPO: https://github.com/bryanveloso/FluxCP/
      DOMAIN: renova.avalonstar.tv
    ports:
      - 80:80
      - 443:443    

volumes: 
  sql_scripts:
  server_db:
